
    <div class="box">
        <div class="card tamanho-maquina">
            <div class="row mt-2 align-self-center">
                <div class="col">
                    <h2>{{ titulo }}</h2>
                </div>
                <div class="col">
                    <div class="">
                        <button type="button " class="btn btn-light" (click)="VoltarPagina()">Voltar</button>
                    </div>
                </div>
            </div>
            <div class="row card-body vertical-center mt-5">
                <!-- usar tag alinhar-itens na classpara caso queira centralizar -->
    
                <div class="">
                    <div class="row card" style="width: 18rem;">
    
                        <h3 class="card-title">{{tipoTransacao}}</h3>
                        <h4 class="card-subtitle mb-2 text-muted">{{dataTransacao}}</h4>
                        <p class="card-text">
                            Tipo Pagamento: {{tipoPagamento}} - Valor total: {{valorTotal}}
                            <br> Qnt parcela: {{qntParcela}} - Valor parcela: {{valorParcela}}
                            <br> Nº Cartão: {{numeroCartao}}
                            <br> ID CENTRAL: {{idCentral}}
                            <br> ID BACEN: {{idBacen}}
                        </p>
                    </div>
    
                    <div class="row mt-2">
                        <input class="btn mt-1 btn-input" type="button" (click)="SalvarComprovante()"
                            value="Salvar Comprovante">
    
                    </div>
                </div>
            </div>
    
        </div>
    </div>