.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.tamanho-maquina{
    width: 400px;
    height: 600px;
    border-radius: 25px;
    background-color: white;
    margin-top: 10px;
    border: 15px solid rgb(0, 255, 110);
}
.btn-input{
    color: white;
    background-color:rgb(0, 255, 115);
}
.btn-input:hover{
    color: white;
    background-color:rgb(0, 186, 84);
}
.alinhar-itens{
  display: flex;
  align-items: center;
  justify-content: center;
}