
    <div class="box">
        <div class="card tamanho-maquina">
            <div class="row mt-2 align-self-center">
                <div class="col">
                    <h2>{{ titulo }}</h2>
                </div>
                <div class="col">
                    <div class="">
                        <button type="button " class="btn btn-light" (click)="VoltarPagina()">Voltar</button>
                    </div>
                </div>
            </div>
            <div class="row card-body vertical-center mt-5"> <!-- usar tag alinhar-itens na classpara caso queira centralizar -->
                <form [formGroup]="form" (ngSubmit)="SeguirOperacao()" novalidate>
    
                    <div class="">
                        <div class="row mt-2">
                            <input class="form-control" formControlName="nomeCartao" type="text" placeholder="Nome cartão">
                        </div>
                        <div class="row mt-2">
                            <input class="form-control" formControlName="numeroCartao" type="text" placeholder="Numero cartão"  mask="0000 0000 0000 0000">
                        </div>
                        <div class="row mt-2">
                            <input class="col form-control" formControlName="dataValidadeCartao" type="text" placeholder="Data validade (mm/yy)" mask="00/00">
                            <input class="col form-control" formControlName="cvvCartao" type="text" placeholder="CVV"  mask="000">
                        </div>
                        <div class="row mt-2">
                            <input class="col-6 form-control" formControlName="numeroParcelas" type="text" placeholder="Numero Parcela">
                        </div>

                        <div class="row mt-2">
                            <input class="btn mt-1 btn-input" type="submit" value="Seguir com operação"
                                [disabled]="!form.valid">
                        </div>
                    </div>
    
                </form>
            </div>
        </div>
    </div>